* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.cartao {
  background-color: #0a6efd;
  color: white;
  padding: 10px 12px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartao-conteudo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.agrupado-direita {
  display: flex;
  align-items: center;
}

.cartao h1 {
  font-size: 18px;
  color: white;
  
}


.voltar-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.voltar-btn svg {
  margin-right: 4px;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin-top: 100px;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

#amount-display {
  font-size: 16px;
  margin-bottom: 20px;
}

#card-element {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
}

#submit-button {
  background-color: #0a6efd;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#submit-button:hover {
  background-color: #084ec1;
}

#status-message {
  margin-top: 16px;
  font-size: 14px;
  color: #333;
}

input, button, select, textarea {
  font-size: 16px;
}

